In [1]:
import pandas as pd
import json
from sqlalchemy import create_engine

In [2]:
with open("yelp_academic_dataset_business.json","r", encoding="utf-8") as f :
        business_data = [json.loads(line) for line in f]
business_df = pd.DataFrame(business_data) 


with open("yelp_academic_dataset_checkin.json","r", encoding="utf-8") as f :
        checkin_status = [json.loads(line) for line in f]
checkin_status_df = pd.DataFrame(checkin_status) 



with open("yelp_academic_dataset_review.json","r", encoding="utf-8") as f :
        review = [json.loads(line) for line in f]
review_df = pd.DataFrame(review) 



with open("yelp_academic_dataset_tip.json","r", encoding="utf-8") as f :
        tip = [json.loads(line) for line in f]
tip_df = pd.DataFrame(tip) 


with open("yelp_academic_dataset_user.json","r", encoding="utf-8") as f :
        user = [json.loads(line) for line in f]
user_df = pd.DataFrame(user)

In [7]:
print(business_df.shape)
print(checkin_status_df.shape)
print(review_df.shape)
print(tip_df.shape)
print(user_df.shape)

(150346, 14)
(131930, 2)
(6990280, 9)
(908915, 5)
(1987897, 22)

In [8]:
print(list(business_df.columns))

['business_id', 'name', 'address', 'city', 'state', 'postal_code', 'latitude', 'longitude', 'stars', 'review_count', 'is_open', 'attributes', 'categories', 'hours']

In [9]:
print(list(checkin_status_df.columns))
print(list(review_df.columns))
print(list(tip_df.columns))
print(list(user_df.columns))

['business_id', 'date']
['review_id', 'user_id', 'business_id', 'stars', 'useful', 'funny', 'cool', 'text', 'date']
['user_id', 'business_id', 'text', 'date', 'compliment_count']
['user_id', 'name', 'review_count', 'yelping_since', 'useful', 'funny', 'cool', 'elite', 'friends', 'fans', 'average_stars', 'compliment_hot', 'compliment_more', 'compliment_profile', 'compliment_cute', 'compliment_list', 'compliment_note', 'compliment_plain', 'compliment_cool', 'compliment_funny', 'compliment_writer', 'compliment_photos']

In [10]:
business_df.drop(['attributes','hours'],axis=1,inplace= True)

In [11]:
print(list(business_df.columns))

['business_id', 'name', 'address', 'city', 'state', 'postal_code', 'latitude', 'longitude', 'stars', 'review_count', 'is_open', 'categories']

In [ ]:
engine = create_engine('sqlite:///yelp.db')
def load_dataframe(df, table_name , engine):
    df.to_sql(table_name , con=engine , if_exists='replace' , index=False)
    
    
load_dataframe(business_df , 'Business' , engine)
load_dataframe(checkin_status_df,'Checkin' , engine)
load_dataframe(review_df , 'Review' , engine)
load_dataframe(user_df,'User',engine)
load_dataframe(tip_df,'Tip',engine)